<!-- views/partials/admin_header.ejs -->
<div class="header flex justify-between items-center px-5 py-2 border-b-2 border-primary2">
  <h1 class="text-xl font-bold text-primary2">ไชยปราการสัตวแพทย์ (Admin)</h1>

  <div class="menu relative flex items-center gap-4">
    <!-- หน้าแรก -->
    <i class="fa-solid fa-house text-lg cursor-pointer text-primary2 hover:text-pink-400"
       onclick="window.location.href='/admin/mg_queue'"></i>

    <!-- เพิ่มลูกค้า -->
    <i class="fas fa-user-plus text-lg cursor-pointer text-primary2 hover:text-pink-400"
       onclick="window.location.href='/admin/contact_customer'"></i>

    <!-- จัดการบริการสัตว์ -->
    <i class="fas fa-paw text-lg cursor-pointer text-primary2 hover:text-pink-400"
       onclick="window.location.href='/admin/manage_service_pet'"></i>

    <!-- จัดการสิทธิ์ผู้ใช้ -->
    <i class="fas fa-user-cog text-lg cursor-pointer text-primary2 hover:text-pink-400"
       onclick="window.location.href='/admin/mg_permission'"></i>

    <!-- ประวัติการรักษา -->
    

    <!-- Hamburger -->
    <i class="fas fa-bars text-lg text-primary2 hover:text-pink-400 cursor-pointer" id="hamburgerBtn"></i>

    <!-- Dropdown -->
    <div id="dropdownMenu"
         class="absolute top-full right-0 mt-2 w-52 bg-white border border-primary2 rounded-xl shadow-xl hidden flex-col z-50 overflow-hidden">
      



       <a href="/admin/treatment_history"
         class="flex items-center gap-3 px-4 py-3 text-sm font-medium text-text hover:bg-primary/20 hover:text-gray hover:bg-red-100">
        <i class="fas fa-history text-lg text-primary2"></i> ประวัติการรักษา
      </a>

      <a href="/admin/medication_history"
         class="flex items-center gap-3 px-4 py-3 text-sm font-medium text-text hover:bg-primary/20 hover:text-gray hover:bg-red-100">
        <i class="fas fa-pills text-lg text-primary2"></i> ประวัติการจ่ายยา
      </a>



      <!-- ตัวอย่างลิงก์อื่น ๆ -->
      <a href="/logout" 
         onclick="return confirm('คุณแน่ใจต้องการออกจากระบบ?')"
         class="flex items-center gap-3 px-4 py-3 text-sm font-medium text-red-600 hover:bg-red-100 hover:text-red-700 transition-all">
        <i class="fas fa-sign-out-alt text-red-600"></i> ออกจากระบบ
      </a>
    </div>
  </div>
</div>
<br>
<script src="/js/menu.js" defer></script>
