@tailwind base;
@tailwind components;
@tailwind utilities;


/* เพิ่ม custom CSS ของคุณตรงนี้ */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center font-medium 
           px-4 py-2 rounded-custom shadow-custom
           transition duration-300 ease-in-out 
           focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  /* ปุ่มหลักของระบบ */
  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary hover:scale-105;
  }
  /* ปุ่มจ่ายยา (success) */
  .btn-success {
    @apply btn bg-success text-white hover:bg-green-600 hover:scale-105;
  }
  .btn-cancel {
    @apply btn bg-white text-red hover:scale-105;
  }
  
  .btn-info {
  @apply btn bg-info text-white hover:bg-info hover:scale-105;
}

.btn-edit {
  @apply btn bg-edit text-gray hover:bg-edit hover:scale-105;
}

.btn-delete {
  @apply btn bg-red text-gray hover:scale-105;
}




  /* การ์ดสำหรับข้อมูล */
  .info-card {
    @apply bg-white rounded-custom p-6 shadow-custom border border-border-color
           hover:transform hover:-translate-y-1 transition-all duration-300;
  }
  
  /* ฟอร์มอินพุต */
  .form-input {
    @apply w-full p-4 border border-border-color rounded-custom
           focus:border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-20
           bg-light-gray focus:bg-white transition-colors;
  }
}